<form>
  <h3>Editala tarea</h3>
  <div class="inner-addon right-addon">
      <i class="glyphicon glyphicon-list"></i>
      <input type="text" placeholder="Tarea a realizar" class="form-control" ng-model="tarea.nombre" />
  </div>
  <div>
    <i class="glyphicon glyphicon-time"></i>
    Elige la prioridad:
    <label class="radio-inline">
      <input type="radio" ng-model="tarea.prioridad" value="Baja">  Baja
    </label>
    <label class="radio-inline">
      <input type="radio" ng-model="tarea.prioridad" value="Normal">  Normal
    </label>
    <label class="radio-inline">
      <input type="radio" ng-model="tarea.prioridad" value="Alta">  Alta
    </label>
  </div>
  <div class="text-center editBtn">
    <button class="btn btn-success btn-sm" type="submit" ng-click="actualizar()">Actualizar</button>
    <button class="btn btn-danger btn-sm" type="submit" ng-click="eliminar()">Eliminar</button>
  </div>
</form>
<div>
  <a href="#" ui-sref="alta()">Regresar</a>
</div>
